.en{
  background-image: url("../images/lang/gb.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 28px;
  }
  

  .es{
    background-image: url("../images/lang/es.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 28px;
  }


/* MOBILE */
  @media (max-width: 768px) {
    .drop-item2{
        position:relative;
        text-decoration: none;
        list-style: none;
        list-style-type: square;
        right:40px;
        display: inline;
        z-index:10000;
        margin-bottom: 10px;
    }

    .drop-conten{
        padding-top:14px;
        padding-bottom: 24px;
        position: absolute;
        top: 100%;
        display:none;
        justify-content:center;
        align-self: center;
        border-radius: 10px;
        background-color: #171E36;
        z-Index: 30000;
        height: 70px;
        width: 160px;
    }
}
/* DESKTOP */
.top{
  margin-top:18px;
}
.drop-item2{
    position:relative;
    text-decoration: none;
    list-style-type: square;
    list-style: none;
    list-style-type: square;
    right:40px;
    display: inline;
    margin-right:5px;
    z-index:10000;
    margin-bottom: 10px;
}

.drop-conten{
    padding-top:14px;
    /* padding-right: 10px; */
    padding-bottom: 24px;
    position: absolute;
    top: 100%;
    display:none;
    justify-content:center;
    align-self: center;
    border-radius: 30px;
    z-Index: 30000;
    height: 70px;
    width: 160px;
}


